h4 {
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 2rem;
    color: #ffffff;
}

label {
    margin-top: 0.5rem;
}

#button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background: #0ea30e;
}

#button:hover {
    background: #0c8d0c;
}

#button:active {
    background: #0a700a;
}

hr {
    height: 0.1rem;
    background-color: white;
}

#table {
    overflow-y: auto;
}