/* HERO */
.hero-wrapper {
    position: relative;
    display: inline-block;
}

.text-bubble {
    position: absolute;
    top: 20%;
    left: 5%;
    background: black;
    color: white;
    margin-top: 50px;
    padding: 20px 30px;
    border: 2px solid #9f9809;
    font-size: 24px;
    width: 420px;
    border-radius: 6px;
}

.text-bubble span {
    color: #9f9809;
    font-weight: bold;
}

/* Treneri */
.custom-section {
    display: flex;
    align-items: center;
}

.left-side {
    position: relative;
    width: 300px;    /* môžeš meniť */
    height: 300px;
}

/* Štvorec */
.square {
    width: 100%;
    height: 100%;
    background: #000;       /* farba štvorca */
    border: 3px solid #ffea00;
    box-sizing: border-box;
}

/* Pravouhlý trojuholník vľavo hore */
.cut-triangle {
    position: absolute;
    top: 0;
    left: -150px;   /* posunie trojuholník tak, aby sa "zarezával" do štvorca */
    width: 0;
    height: 0;
    border-top: 150px solid #000;     /* farba trojuholníka */
    border-right: 150px solid transparent;
}

/* Obrázok napravo */
.right-image {
    width: 400px;   /* podľa potreby */
    margin-left: 30px;
}
