/* HERO */
.hero-coaches-wrapper {
    position: relative;
    display: inline-block;
}

.hero-text-container {
    position: absolute;
    top: 20%;
    left: 5%;
    background: black;
    color: white;
    margin-top: 1rem;
    padding: 1rem 0.5rem;
    border: 0.2rem solid #9f9809;
}

.hero-text-yellow {
    color: #9f9809;
    font-weight: bold;
}

.hero-img {
    width: 100%;
    margin-bottom: 0.5rem;
}

/* TRENERY */
/* Tlacidlo */
.btn-primary {
    background: black;
    border: 0.1rem solid white;
    font-weight: 700;
}

.btn-primary:hover {
    background: #9f9809;
    border: 2px solid white;
}

/* Text */
.coach-name {
    color: black;
    font-weight: 1000;
}

.coach-short-info {
    color: #302e2e;;
}

/* --- KOSODĹŽNIK --- */
.coach-foto {
    border: white solid 0.01rem;
    margin-right: 1.4rem;
    width: 10rem;
    height: auto;
}

.slashed-rectangle {
    width: 40rem;
    height: 10.4rem;
    background: #9f9809;
    transform: skewX(-15deg);
    padding: 1.5rem;
    border: 0.05rem solid white;
    left: calc(50% - 350px);
    margin-bottom: 2rem;
    z-index: 1;
}

.slashed-rectangle-content {
    transform: skewX(15deg);
    color: white;
    font-size: 0.8rem;
    font-family: sans-serif;
}

.coach-foto-left {
    z-index: 0;
    position: absolute;
    border: white solid 0.01rem;
    right: 3rem;
    height: 10.4rem;
    width: auto;
}

.container {
    display: flex;
}

@media (max-width: 1450px) {
    .coach-foto-left  {
        visibility: hidden;
    }
}

/* mobil */
@media (max-width: 630px) {
    .hero-img {
        background-image: url('/images/couches-hero-small.png');
    }

    .hero-text-container {
        position: relative;
        margin-top: 0;
        margin-bottom: 0.5rem;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        padding-top: 1rem;
    }
}