/* HERO */
.home-hero-div {
    position: relative;
}

.hero-img {
    width: 100%;
    height: auto;
    display: block;
}

/* Skryť obrázok na mobiloch */
@media (max-width: 630px) {
    .hero-img {
        height: 14rem;
        visibility: hidden;
    }
}

.home-hero-text {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-15%, -50%);
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 3px 3px 3px #000000;
}

.hero-line-1 {
    color: white;
}

.hero-line-2 {
    color: #9f9809;
}

/* ---------- TEXT NAD “čo ponúkame” ---------- */

.services-text-wrapper{
    text-align: left;
    margin-top: 1.7rem;
    font-size: 1rem;
}

.services-text-line-1 {
    margin: 0.3rem;
    font-style: italic;
    font-weight: 1000;
    color: #9f9809;
    display: inline-block;      /* aby rotácia fungovala správne */
    transform: rotate(-25deg);
}

.services-text-line-2 {
    margin-top: 1.1rem;
    margin-left: 1rem;
    font-weight: 500;
    color: white;
}

/* ---------- SCROLLING BOXES “čo ponúkame” ---------- */

.moving-squares-wrapper {
    overflow: hidden;
    position: relative;
}

.moving-squares {
    display: flex;
    padding-left: 100%; /* začína mimo obrazovky vpravo */
    animation: moveLine 25s linear infinite;
    margin-top: 1rem;
    gap: 2rem;
}

.square-even {
    background: #9f9809;
}

.square-odd {
    background: #ffffff;
    border: 4px solid #9f9809;
}

.square-odd,
.square-even {
    flex: 0 0 auto;
    width: 15rem;
    border-radius: 1rem;
    color: #070303;
}

@keyframes moveLine {
    0% { transform: translateX(0); }
    100% { transform: translateX(-400%); }
}

.sq-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem;
}

.sq-text {
    font-size: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

/* OBRAZOKY SPULU A OTVARAJUCE HODINY*/

.opening-hours-container {
    margin: 2rem;
    display: flex;
    gap: 3rem;               /* medzera medzi obr a text */
    flex-wrap: wrap;          /* aby sa na mobiloch stĺpce zoradili pod seba */
    align-items: center;
}

.opening-hours-image {
    flex: 1 1 500px;         /* min. šírka 400px, flexibilné */
}

.opening-hours img {
    width: 100%;
    height: auto;
}

.opening-hours-text {
    flex: 1 1 400px;
    color: white;
}

.opening-hours-text h2 {
    font-weight: bold;
    font-size: 2rem;
    color: #9f9809;
}

.opening-hours-text p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.opening-hours-text .small-text {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #cccccc;
}

.carousel-indicators button {
    background-color: #9f9809; /* žlté pre neaktívne */
}

.carousel-indicators .active {
    background-color: #ffffff; /* biely pre aktívny */
}

/* MAPA */

.map {
    width: 100%;
    display: flex;
    justify-content: center;  /* horizontálne centrovanie */
    align-items: center;       /* vertikálne centrovanie (ak má kontajner výšku) */
    margin-bottom: 2rem;
    margin-top: 2rem;
}
