/* Celá sekcia s pozadím */
body {
    background-color: black;
}

.login-hero {
    /* Pozadie */
    background-image: url('/images/main-background.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;

    /* Text a Form */
    display: flex;
    place-items: center; /* rovno zakliknuty form */
    margin-top: 2.5rem;
    padding-left: 10%;
}

/* Nadpis PRIHLÁSENIE */
h1 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

/* Login karta */
.card-signin {
    background: transparent;
}

/* Inputy */
.card-signin .form-control {
    font-size: 1rem;
}

/* Log in tlačidlo */
.button-green {
    background: #0ea30e;
    font-size: 0.7rem;
    font-weight: bold;
    width: 50%;
}

.button-green:hover {
    background: #0c8d0c;
}
