/* Celá sekcia s pozadím */
.login-hero {
    background-image: url('/images/main-background.jpg');
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 600px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    display: flex;
    padding-left: 10%;
    place-items: center; /* rovno zakliknuty form */
    margin-top: 60px;
}

/* Nadpis PRIHLÁSENIE */
#title {
    font-size: 50px;
    font-weight: 700;
    width: 350px;
    color: white;
    height: auto;
}

/* Login karta */
.card-signin {
    background: transparent;
}

/* Inputy */
.card-signin .form-control {
    height: 45px;
    font-size: 16px;
}

/* Log in tlačidlo */
.button-green {
    background: #0ea30e;
    font-size: 16px;
    font-weight: bold;
    width: 50%;
}

.button-green:hover {
    background: #0c8d0c;
}
