/* Celá sekcia s pozadím */
body {
    background-color: black;
}

.login-hero {
    background-image: url('/images/main-background.jpg');
    min-height: 600px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;

    /* Text a Form */
    display: flex;
    place-items: center; /* rovno zakliknuty form */
    margin-top: 60px;
    padding-left: 10%;
}

/* Nadpis PRIHLÁSENIE */
#title {
    font-size: 50px;
    font-weight: 700;
    width: 350px;
    color: white;
    height: auto;
}

/* Login karta */
.card-signin {
    background: transparent;
}

/* Inputy */
.card-signin .form-control {
    height: 45px;
    font-size: 16px;
}

/* Log in tlačidlo */
.button-green {
    background: #0ea30e;
    font-size: 16px;
    font-weight: bold;
    width: 50%;
}

.button-green:hover {
    background: #0c8d0c;
}
