/* Celá sekcia s pozadím */
.login-hero {
    width: 100%;
    height: 100%;
    background: url('/images/main-background.jpg') center/cover no-repeat;
    display: flex;
    padding-left: 10%;
    place-items: center; /* rovno zakliknuty form */
}

/* Nadpis PRIHLÁSENIE */
#title {
    font-size: 50px;
    font-weight: 700;
    width: 350px;
    margin-bottom: 30px;
    color: white;
    height: auto;
}

/* Login karta */
.card-signin {
    background: transparent;
}

/* Inputy */
.card-signin .form-control {
    height: 45px;
    font-size: 16px;
}

/* Log in tlačidlo */
.button-green {
    background: #0ea30e;
    font-size: 16px;
    font-weight: bold;
    width: 50%;
}

.button-green:hover {
    background: #0c8d0c;
}

/* Aby login box nebol úplne nalepený hore */
.row {
    margin-top: 120px;
}

/* Skryť default card border/shadow */
.card {
    box-shadow: none !important;
}
