.permits-hero {
    background-image: url('/images/permits-background.jpg');
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}