/* BACKGROUND IMAGE AND TITLES */
body {
    background-color: black;
}

.permits-hero {
    position: relative;
    width: 100%;
    height: 30rem;
    background-image: url('/images/permits-background.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2 {
    font-weight: 1000;
    padding-left: 10%;
}

h1 {
    padding-top: 4rem;
    font-size: 3rem;
}

h2 {
    font-size: 1.75rem;
}

/* PERMITS OPTIONS */

h3 {
    font-size: 30px;
    font-weight: 700;
    padding: 5%;
}

.container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.rectangle {
    display: flex;
    flex-direction: column;
}

.rect-header {
    background: #070303;
    display: flex;
}

.rect-body {
    width: 11rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    background: #9f9809;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 0.8rem;
}

span {
    font-weight: 1000;
}

/* BUTTON */
.button-green {
    background: #0ea30e;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0.1rem;
    padding: 0.5rem;
    border: black solid 1px;
}

.button-green:hover {
    background: #0c8d0c;
}