/* BACKGROUND IMAGE AND TITLES */
body {
    background-color: black;
}

.permits-hero {
    position: relative;
    width: 100%;
    min-height: 600px;
    background-image: url('/images/permits-background.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2 {
    font-weight: 1000;
    padding-left: 10%;
}

h1 {
    padding-top: 7%;
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

/* PERMITS OPTIONS */

h3 {
    font-size: 30px;
    font-weight: 700;
    padding: 5%;
}

.container {
    display: flex;       /* dá elementy vedľa seba */
    gap: 50px;           /* medzera medzi elementami */
    justify-content: center;  /* centrovanie elementov */
    padding-bottom: 100px;
}

.rectangle {
    display: flex;               /* dôležité */
    flex-direction: column;      /* všetko pod seba */
}

.rect-header {
    width: 300px;
    height: auto;
    padding: 10px;
    background: #070303;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.rect-body {
    width: 300px;
    height: auto;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    background: #9f9809;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-size: 0.8rem;
}

span {
    font-weight: 1000;
}

/* BUTTON */
.button-green {
    background: #0ea30e;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    border: black solid 1px;
}

.button-green:hover {
    background: #0c8d0c;
}