/* ---------- GLOBAL ROOT STYLES ---------- */

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: clamp(14px, 2vw, 25px);
}

body {
    background: #1c1c1c;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.hero-img {
    margin-top: 70px;
    width: 100%;
    height: auto;
    display: block;
}

/* ---------- NAVBAR ---------- */

#navbar {
    border: 3px solid #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 9999;
}

.nav-link {
    color: #1b1717;
    transition: color .2s;
    margin-left: 20px;
}

.nav-link:hover {
    color: #9f9809;
}

/* Login / signin right border */
#login-signin-container {
    border-left: 3px solid #000000 !important;
}

/* ---------- FOOTER ---------- */

#footer {
    margin-top: auto;
    background: grey !important;
}
